.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img {
  position: right;
  float: right;
  max-width: 100px;
}

.star {
  background-color: yellow;
}

.card-body-synopsis {
  max-width: 250px;
  white-space: normal;
}

.card-body {
  overflow-wrap: break-all;
  white-space: pre;
}

.App-link {
  color: #61dafb;
}

.App-Stars {
  position: right;
  float: right;
}
